.userList {
  background: #fff;
  margin: 0;
  padding: 0;
}

.statusCards {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  -moz-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
}
.statusCards .info h1 {
  font-size: 30px;
  font-weight: 900;
}
.statusCards .icon {
  margin-left: 170px;
  font-size: 30px;
}
.statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 {
  padding-left: 40px;
  border-right: 1px solid #74b9ff;
}
.statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 .fa-chalkboard-teacher
{
  color: #fdcb6e;
}
.statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 .fa-user-secret {
  color: #ff7675;
}
.statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 .fa-user-graduate {
  color: #a29bfe;
}
.statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6:last-child {
  border-right: none;
}

.listOfUser {
  margin-top: 30px;
  width: 100%;
}
.listOfUser .col-xl-3.col-lg-4.col-md-4.col-sm-12{
    padding-left: 0;
}

.listOfUser .filterName {
  padding: 5%;    
  background: #fff;
  -webkit-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  -moz-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
}

.listOfUser .filterName input[type=text]{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}
.listOfUser .filterName input.submit{
    width: 100;
    padding: 5px 38%;
    text-align: center;
    background: #74b9ff;
    color: #fff;
}
.filterGroup{
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  -moz-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  padding: 5%;
}
.filterGroup hr{
  margin: 2px 0;
  padding: 2px 0;
}
.filterGroup .userType{
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
}
.filterGroup ul{
  margin: 0;
}
.userCard{
  background: #fff;
  -webkit-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  -moz-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 15px;
  padding: 15px;
}
.userCardLists{
  padding: 0;
}
.userCardLists li:nth-child(3n){
  margin-right: 0;
}
@media only screen and (max-width: 1199px) {
  .statusCards .icon {
    margin-left: 55px;
  }
  .statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 {
    border: none;
  }

  .userCard{
    width: 49%;
  }
  .userCardLists li:nth-child(3n){
    margin-right: 2%;
  }
  .userCardLists li:nth-child(2n){
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .statusCards .icon {
    margin-left: 125px;
  }
  .statusCards .col-xl-4.col-lg-4.col-md-6.col-sm-6 {
    margin-bottom: 30px;
  }
  .row div:nth-child(3) .icon {
    margin-left: 151px;
  }
  .row div:nth-child(2) .icon {
    margin-left: 140px;
  }
}
@media only screen and (max-width: 767px) {
  .statusCards .icon {
    margin-left: 55px;
  }
  .statusCards .row div:nth-child(3) .icon {
    margin-left: 80px;
  }
  .statusCards .row div:nth-child(2) .icon {
    margin-left: 70px;
  }
  .listOfUser .filterName input.submit{
    padding: 5px 45%;
}
.userCard{
  margin-top: 30px;
}
}
@media only screen and (max-width: 575px) {
  .statusCards .icon {
    margin-left: 305px;
  }
  .statusCards .row div:nth-child(3) .icon {
    margin-left: 335px;
  }
  .statusCards .row div:nth-child(2) .icon {
    margin-left: 319px;
  }
}
@media only screen and (max-width: 464px) {
  .statusCards .icon {
    margin-left: 150px;
  }
  .statusCards .row div:nth-child(3) .icon {
    margin-left: 168px;
  }
  .statusCards .row div:nth-child(2) .icon {
    margin-left: 160px;
  }
  .userCard{
    width: 100%;
  }
  .userCardLists li:nth-child(3n){
    margin-right: 0;
  }
  .userCardLists li:nth-child(2n){
    margin-right: 0;
  }
}
