#studentPreview {
  background: #fff;
  padding-top: 30px;
}

#studentPreview .userInfoCardLeft {
  -webkit-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  -moz-box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  box-shadow: 7px 9px 47px -23px rgba(112, 161, 255, 0.45);
  margin-bottom: 15px;
  padding: 15px;
}

#studentPreview .personalInfo{
    padding: 15px 0 15px 10px;
    color: #4a4a4a;
}

#studentPreview .personalInfo td{
    padding-right: 15px;
}
#studentPreview .personalInfo td.email{
    padding-right: 60px;
}

#studentPreview .personalInfo ul li{
    display: inline-block;
    width: 45%;
    text-align: center;
    margin-top: 20px;
    background: #97c8f9;
    color: #fff;
    padding: 5px 15px
}
#studentPreview .personalInfo ul li:first-child{
    margin-right: 5%;
}
#studentPreview .personalInfo ul li:last-child{
    background: #ff7675;
}
#studentPreview .personalInfo .action-button:hover{
    text-decoration: none;
    color: #fff;
}